.button{
    width: 250px;
    height: 70px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    cursor: pointer;
    text-shadow: rgb(226, 200, 97) 1px 0 10px;
    border: 2px solid rgb(133, 126, 99);
    box-shadow: 0 30px 60px rgba(0,0,0,0.25), 0 20px 60px rgba(0,0,0,0.22);
    color: rgb(68, 68, 64);
   
   
}